html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
h2 {
  text-align: center;
}
.section {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: rgb(48, 55, 48);
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  display: flex;
  background-color: #000000;
  color: #ffffff;
}

.arrow {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-content > .title {
  text-transform: uppercase;
}

.slides {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  transform-style: preserve-3d;
  perspective: 85px;
  perspective-origin: center top;
}

.slide {
  position: absolute;
  display: block;
  width: 90%;
  height: 70%;
  padding: 20px;
  /* background-color: green; */
  border-radius: 15px;
  -webkit-box-shadow: inset -3px 13px 42px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset -3px 13px 42px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset -3px 13px 42px 0px rgba(0, 0, 0, 0.4);
}

.slide:first-child {
  transform: translateZ(0px);
}

.slide:nth-child(2) {
  transform: translateZ(-20px);
}

.slide:nth-child(3) {
  transform: translateZ(-40px);
  visibility: visible;
}

.slide:nth-child(n + 4) {
  transform: translateZ(-60px);
  visibility: hidden;
}

/* Right arrow animation click  */
.animationFirstSlide {
  animation-name: moveFirstSlideBack;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.animationSecondSlide {
  animation-name: moveSecondSlideFront;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.animationThirdSlide {
  animation-name: moveThirdSlideFront;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes moveFirstSlideBack {
  from {
    transform: translateZ(0);
  }

  to {
    transform: translateZ(-60px);
  }
}

@keyframes moveThirdSlideFront {
  from {
    transform: translateZ(-40px);
  }

  to {
    transform: translateZ(-20px);
  }
}

@keyframes moveSecondSlideFront {
  from {
    transform: translateZ(-20px);
  }

  to {
    transform: translateZ(0);
  }
}

/* Left arrow animation click  */
.animationLastSlideFront {
  animation-name: moveLastSlideFront;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.animationSecondSlideBack {
  animation-name: moveSecondSlideBack;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.animationFirstSlideBack {
  animation-name: moveFirstSlideBack;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes moveLastSlideFront {
  from {
    transform: translateZ(-60px);
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes moveSecondSlideBack {
  from {
    transform: translateZ(-20px);
  }

  to {
    transform: translateZ(-40px);
  }
}

@keyframes moveFirstSlideBack {
  from {
    transform: translateZ(0px);
  }

  to {
    transform: translateZ(-20px);
  }
}
